pytz
https://github.com/New-dev0/Telethon/archive/Crunch.zip
redis>=3.3.10
python-decouple==3.3
TgCrypto
python-dotenv==0.15.0
cloudscraper
aiofiles
aiohttp
pytgcalls==3.0.0.dev19
numerize
Shazamio
black
wikipedia
fonttools
isort
pre-commit
pyclean
pylint
asyncurban
carbonnow
cairosvg
emoji
GitPython
googletrans==4.0.0rc1
git+https://github.com/ilhammansiz/heroku3.py
imutils
lottie
lxml
moviepy
numpy
opencv-python-headless
Pillow>=7.0.0
play-scraper
PyDictionary
PyPDF2
psutil
requests>=2.18.4
